<ion-content>
  <ion-grid fixed="true">
    <ion-row>
      <ion-col class="cursor-pointer" size="4" *ngFor="let photo of photos$ | async" (click)="openPhoto(photo)">
        <div style="background-color: #222222; display: flex; align-items: center; height: 100%">
          <img [src]="photo.download_url">
        </div>
      </ion-col>
      <ion-col size="12" *ngIf="(photos$ | async)?.length === 0">
        <p class="ion-text-center">No items, click <a [routerLink]="['/']">here</a> to return to gallery</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
